body {
  margin: 0;
}
main {

}
nav {
  background-color: black;
  padding: 3px;
  height: 5vh;
}
div {
  height: 93vh;
  width: 100%;
  display: inline-block;
  position: absolute;
  z-index: 0;
}
div.one {
  z-index: 3;
}
.one {
  background-color: red;
}
.two {
  background-color: blue;
}
.three {
  background-color: yellow;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
}

.hidden {
  animation: obscure 1s ease;
}
.visible {
  animation: reveal 1s ease;
  /*z-index: 2;*/
}

@keyframes obscure {
  0% {width: 100%;}
  99% {width: 0;}
  100% {display: none;}
}

@keyframes reveal {
  from {width: 0;}
  to {width: 100%;}
}
